body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: lightblue;
  height: 100vh;
  overflow-y: auto;
}

.add-post-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.add-post-container h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.address-group {
  display: flex;
  gap: 10px;
}

.image-preview {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.location-button {
  padding: 10px;
  border: none;
  background-color: #704411;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

textarea,
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

textarea {
  resize: none;
  height: 80px;
}

.add-post-container {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}
