.App {
  text-align: start;
  height: 100vh;
  overflow: hidden;
  
}

.Buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
  margin-top: 20px;
  background-color: #cee7f1;
  
}

.main{
  justify-content: center;
  margin-left: 40%;
  margin-top: 7%;
}

.rowButton {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center;
}

#guest{
  margin: 0;
}

.Button {
   padding: 10px 20px;
  border: 2px solid #581c14;
  background-color: #581c14;
  color: #cee7f1;
  font-size: calc(16px + 1vmin);
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  width: 200px;
  text-align: center; 
}

#sign
{
  align-items: center;
  justify-content: center;
 
}

.App-header {
  background-color: #cee7f1;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: #581c14;
  font-weight: 900;
  padding-top: 10%;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}


.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Courier New", Courier, monospace; 
  font-size: calc(100px + 2vmin);
  font-weight: 1000;
  color: #581c14;
  border-right: 4px solid #581c14; 
  animation: typing 3s steps(10) forwards, blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}

@keyframes blink {
  from {
    border-color: #581c14;
  }
  to {
    border-color: transparent;
  }
}



.profile-header {
  background-color: #cee7f1;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(100px + 2vmin);
  color: #581c14;
  font-weight: 900;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.App-body {
  background-color: #cee7f1;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 70px;
}

.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.Modal {
  background-color: #581c14;
  padding: 20px;
  border-radius: 50px;
  width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Form-group {
  margin-bottom: 15px;
}

.Form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 900;
  color: #cee7f1;
}

.Form-group input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-left: 20px;
}

.Close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #cee7f1;

  color: #581c14;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.Button2 {
  padding: 10px 20px;
  margin-bottom: 17px;
  border: 2px solid #581c14;
  background-color: #cee7f1;
  color: #581c14;
  font-size: calc(16px + 1vmin);
  font-weight: 700;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 10px;
}

.Button3 {
  width: 13%;
  padding: 10px 20px;
  margin-bottom: 5px;
  margin-top: 30px;
  border: 2px solid #581c14;
  background-color: #581c14;
  color: #cee7f1;
  font-size: calc(16px + 1vmin);
  font-weight: 700;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 10px;
}

.Modal h3 {
  font-size: calc(10px + 1vmin);
  font-style: italic;
  color: #cee7f1;
  margin-bottom: 20px;
  text-align: center;
}

.SignInFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

.FieldRow {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px;
  width: 100%;
}


.InputField {
  width: 23%; 
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: calc(16px + 1vmin);
  color: #581c14;
}

.FieldLabel {
  font-size: calc(18px + 1vmin);
  font-weight: 700;
  color: #581c14;
  width: 150px; 
  text-align: right; 
}

.profile-content {
  display: flex;
  gap: 30px;
  padding: 50px;
  background-color: #e2edf2;
  height: 80vh;
}

.profile-info {
  flex: 1;
  text-align: center;
}

.profile-image-container {
  position: relative;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #581c14;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 1px solid #581c14;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-username,
.profile-school {
  font-size: 3rem;
  color: #581c14;
}

.profile-details {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.edit-button {
  width: 50%;
  align-self: center;
  background-color: lightblue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.edit-button:hover {
  background-color: #29b6f6;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.user-info {
  width: 50%;
  padding: 20px 80px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-info h2 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.user-info p {
  font-size: 14px;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.user-info span {
  font-weight: bold;
  color: #333;
}

.posts-section {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.post-card {
  width: 150px;
  height: 150px;
  background-color: #d3d3d3;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.menu-button button{
	padding: 10px 20px;
  border: 2px solid #581c14;
  background-color: #581c14;
  color: #cee7f1;
  font-size: calc(16px + 1vmin);
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  width: 200px;
  text-align: center; 
	margin-right: 10px;
}
