
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.leaflet-container {
    
    inset: 0px;
    width: 40rem;
    height: 40rem;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    margin-bottom: 10px;
    
}

.MapPage {
    font-family:sans-serif;
    text-align: center;
    justify-content: start;
    align-content: center;
    background-color: #c8eaf7;
    width: 100%;
    height: 100%;
}

.TopBar {
    overflow: hidden;
    background-color: #e9e9e9;
    float: top;
    border: 1px, black, solid;
}
  
.TopBar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.TopBar a:hover {
    background-color: #ddd;
    color: black;
}
  
.TopBar a.active {
    background-color: #2196F3;
    color: white;
}
  
.TopBar .Search {
    float: right;
}
  
.TopBar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.TopBar .Search button{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

.TopBar .Search select{
    float: center;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.TopBar .Search button:hover {
    background: #ccc;
}